<launch>
	<!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
	<include file = "$(find robot_arm_urdf)/launch/arm_urdf.launch" />
	
	<!-- Launch Moveit Move Group Node -->
	<include file = "$(find movit_robot_arm_sim)/launch/move_group.launch" />
	
	<!-- Run Rviz and load the default configuration to see the state of the move_group node -->
	<arg name="use_rviz" default="true" />
	<include file="$(find movit_robot_arm_sim)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
		<arg name="rviz_config" value="$(find movit_robot_arm_sim)/launch/moveit.rviz"/>
	</include>

	<node name="node" pkg="movit_robot_arm_sim" type="joint_states_subscriber.py">
    <!-- Optional: Arguments for your node -->
    <!-- Optional: <param> tags to set ROS parameters -->
  	</node>

	<node name="rosserial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="57600"/>
  </node>
</launch>
